.body{
		background-color:#966bc4
}

#page_title{
		background-color:#0000FF;
		text-align:center;
}
#profile_picture{
		text-align:center;
}
#profile_picture img{
		height:25%;
		width:25%;
		align:center;
}
.sm_logo{
		height:1em;
		width:1em;
}
.indented{
		position:relative;left:80px;
}
#FAQ{
    font-family: sans-serif;
}
.panel{
    background-color: purple;
}
.panel-header{
    text-align: left;
    border-color: lightblue;
    border-width: 2px;
    border-style: solid;
    margin: 0px;
    padding: 8px;
}
.panel-content{
    text-align: left;
    border-color: lightblue;
    border-width: 2px;
    border-style: solid;
    margin: 0px;
    padding: 8px;
}